{
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": ["*.yml", "*.yaml"],
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": ["*.rb"],
      "options": {
        "printWidth": 120,
        "trailingComma": "none"
      }
    }
  ]
}
