<div>
  <h1 class="font-bold text-4xl mb-6">RPi Tilt</h1>

  <div class="mb-12">
    <h2 class="text-xl">Specific Gravity</h2>
    <%= area_chart @gravity_data, width: "1280px", height: "500px", min: @min_gravity, max: @max_gravity %>
  </div>

  <div class="mb-12">
    <h2 class="text-xl">Temperature</h2>
    <%= area_chart @temp_data, width: "1280px", height: "500px", min: @min_temp, max: @max_temp, colors: ["#e06666"] %>
  </div>
</div>
