<div>
  <h1 class="font-bold text-4xl mb-6">RPi Tilt</h1>

  <h2 class="text-2xl">Beers</h2>
  <% if @beers.present? %>
    <% @beers.each do |beer| %>
      <h2 class="text-xl">
        <%= link_to beer.name, beer_path(id: beer.slug), class: 'text-blue-700' %>
        -
        <%= beer.created_at.strftime("%m/%d/%Y") %>
      </h2>
    <% end %>
  <% else %>
    <h2 class="text-xl">No Beers</h2>
  <% end %>
</div>
